a.tl_monitoring_check_all{ background-image: url('check_all.png'); } a.tl_monitoring_check_one{ background-image: url('check_one.png'); } .col_last_test_status { text-align: center; }


.tl_message_monitoring_status_okay, .tl_message_monitoring_status_okay a {
  color: #049f04;
}
p.tl_message_monitoring_status_okay {
  background: url("status_okay.png") no-repeat scroll 6px center #ceffce;
}
.tl_message_monitoring_status_error, .tl_message_monitoring_status_error a {
  color: #cb032b;
}
p.tl_message_monitoring_status_error {
  background: url("status_error.png") no-repeat scroll 6px center #ffdcdc;
}
.tl_message_monitoring_status_incomplete, .tl_message_monitoring_status_incomplete a {
  color: #bd9500;
}
p.tl_message_monitoring_status_incomplete {
  background: url("status_incomplete.png") no-repeat scroll 6px center #ffffd2;
}
p.tl_message_monitoring_status {
    border-radius: 3px;
    margin: 1px 0 0;
    padding: 4px 5px 5px 25px;
}