a.tl_monitoring_check_all{
  background-image: url('check_all.png');
}
a.tl_monitoring_check_one{
  background-image: url('check_one.png');
}
.col_last_test_status {
  text-align: center;
}
p.tl_message_monitoring_status.monitoring_status_okay {
  background-image: url("status_okay.png");
}
p.tl_message_monitoring_status.monitoring_status_incomplete {
  background-image: url("status_incomplete.png");
}
p.tl_message_monitoring_status.monitoring_status_error {
  background-image: url("status_error.png");
}
p.tl_message_monitoring_status,
p.tl_message_monitoring_status a {
  color: #ffffff;
}
p.tl_message_monitoring_status {
  border-radius: 3px;
  margin: 1px 0 0;
  padding: 4px 5px 5px 25px;
  background-repeat: no-repeat;
  background-position: 6px center;
}
#tl_buttons > a[class*="tl_monitoring"] {
    margin-bottom: 5px;
    display: inline-block;
}